@inherits LayoutComponentBase


<main>
    <div class="terminal-nav">
        <div class="logo terminal-prompt"><a href="/">Mouseion</a></div>
    </div>
    <article class="">
        @Body
    </article>
</main>