@page "/Account/Manage/UserThings"
@inject ISearchThingService SearchThingService
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>UserThings</h3>
<p>User ID: @userId</p>
@if(user is not null)
{
    <p> @user.Id</p>
}

@if(things is not null)
{
    @foreach (Thing thing in things)
    {
        <p>@thing.Name</p>
    }
}


@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    ApplicationUser user = default!;

    List<Thing> things = default!;

    private string? userId;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        }
    
        things = await SearchThingService.GetThingsByCreator(userId);
    }

}
