@page "/"
<PageTitle>Home</PageTitle>

<div class="container">
        <h1>Discover the World</h1>
        
        <div class="terminal-card">
            <header>The World</header>
            <div>
                <ul>
                    <li><a href="/search/Event">Events</a></li>
                    <li><a href="/search/Places">Places</a></li>
                    <li><a href="/search/Animal">Animals</a></li>
                    <li><a href="/search/Plant">Plants</a></li>
                </ul>
            </div>
        </div>

        <div class="terminal-card">
            <header>The Individuals</header>
            <div>
                <ul>
                    <li><a href="/search/Person">People</a></li>
                </ul>
            </div>
        </div>

        <div class="terminal-card">
            <header>The Art</header>
            <div>
                <ul>
                    <li><a href="/search/Writing">Writings</a></li>
                    <li><a href="/search/Art">Art</a></li>
                    <li><a href="/search/MotionPicture">Motion Picture</a></li>
                    <li><a href="/search/Music">Music</a></li>
                </ul>
            </div>
        </div>
    </div>