@page "/"

<PageTitle>Home</PageTitle>

<h1>Discover the world</h1>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <a href="/search/Person">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">People</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Writing">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Writings</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Art">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Art</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Animal">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Animals</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Event">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Events</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/MotionPicture">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Motion Pictures</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Music">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Music</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Game">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Games</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col">
        <a href="/search/Plant">
            <div class="card text-bg-dark">
                <img src="/pictures/bibtower.png" class="card-img" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title">Plants</h5>
                    <p class="card-text">...</p>
                </div>
            </div>
        </a>
    </div>
</div>
<style>
    h5, p{
        color: black
    }
</style>