@page "/search/history"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search History</PageTitle>

<h3>Search for History!</h3>
<button @onclick="@(() => CreateGame())">Create New</button>

<Iroh.Components.Shared.Search app=@UsedInApp.History/>

@code {
    private void CreateGame()
    {
        NavigationManager.NavigateTo("/thing/edit");
    }
}
