@page "/search/products"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Products</PageTitle>

<h3>Search for Products!</h3>
<button @onclick="@(() => CreateGame())">Create New</button>

<Iroh.Components.Shared.Search app=@UsedInApp.Products />

@code {
    private void CreateGame()
    {
        NavigationManager.NavigateTo("/thing/edit");
    }
}
