@page "/search/Event"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Events</PageTitle>

<h3>Search for Events!</h3>

<button class="btn btn-primary" @onclick="@(() => CreateGame())">Create New</button>
<Iroh.Components.Shared.Search subject=@Page />

@code {
    Subject Page = Subject.Event;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}