@page "/search/Event"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Events</PageTitle>

<h3>Search for Events!</h3>

<button @onclick="@(() => CreateGame())">Create New</button>
<Iroh.Components.Shared.Search app=@Page />

@code {
    UsedInApp Page = UsedInApp.Event;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}