@page "/search/Game"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Games</PageTitle>

<h3>Search for Games!</h3>

<button class="btn btn-primary" @onclick="@(() => CreateGame())">Create New</button>
<Iroh.Components.Shared.Search app=@Page />

@code {
    UsedInApp Page = UsedInApp.Game;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}