@page "/search/Person"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search People</PageTitle>

<h3>Search for People!</h3>

<button class="btn btn-primary" @onclick="@(() => CreateGame())">Create New</button>
<Iroh.Components.Shared.Search subject=@Page/>

@code {
    Subject Page = Subject.Person;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}
