@page "/search/Place"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Place</PageTitle>

<h3>Search for Place!</h3>

<button class="btn btn-primary" @onclick="@(() => CreateGame())">Create New</button>
<Iroh.Components.Shared.Search subject=@Page />

@code {
    Subject Page = Subject.Place;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}