@page "/search/Writing"
@inject NavigationManager NavigationManager
@rendermode @(new InteractiveServerRenderMode(prerender: false))


<PageTitle>Search Writings</PageTitle>

<h3>Search for Writings!</h3>
<button @onclick="@(() => CreateGame())">Create New</button>

<Iroh.Components.Shared.Search app=@Page/>

@code {
    UsedInApp Page = UsedInApp.Writing;
    private void CreateGame()
    {
        NavigationManager.NavigateTo($"/thing/edit/{Page.ToString()}");
    }
}
